.row {
  display: flex;
  flex-direction: row;
  gap: 8px;

}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;

  padding: 12px;

  /* animate all fade 0.2s */
  transition: all 0.2s;
}

.card > p {
  margin: 8px;
}

.card:hover {
  /* enlarge */
  background-color: white;
  color: black;
  cursor: pointer;
}


/* on mobile */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}