.content {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  padding: 12px;
}

.sidebar {
  width: 300px;
  padding: 12px;
}

.portfolioCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 8px;
  margin-top: 5px;
}

/* Help from https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
.portfolioCards::after {
  content: "";
  flex: auto;
}

.portfolio {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  width: 17.5%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* animate all fade 0.2s */
  transition: all 0.2s;
}

.portfolio:hover {
  /* enlarge */
  background-color: white;
  color: black;
  cursor: pointer;
}

.notifications {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin-top: 5px;
}

