.navbar {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
}

.primary {
  /* left side */
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;

  /* make the navbar responsive */
  flex: 1;
}

.secondary {
  /* right side */
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;

  /* align to right/flex end */
  justify-content: flex-end;

}

.navbar ul {
  /* links on the left side of the navbar */
  margin-right: auto;
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

/* remove li dot */
.navbar ul > li {
  list-style: none;
}

.active {
    font-weight: bold;
}

/* turn gray when hovering over the links */
.navbar ul > li > a:hover {
  color: #ccc;
}
