.navbar {
  /* full sticky bar at the top of the screen */
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
}

.navbar > ul {
  /* links on the left side of the navbar */
  margin-right: auto;
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

/* remove li dot */
.navbar > ul > li {
  list-style: none;
}

.active {
    font-weight: bold;
}

/* turn gray when hovering over the links */
.navbar > ul > li > a:hover {
  color: #ccc;
}
