.position_wrapper {
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    flex-grow: 30;
    background-color: rgb(55, 55, 55);
}

.position_wrapper:hover {
    color: rgb(55, 55, 55);
    background-color: rgb(136, 136, 136);
    transition: 0.3s; 
}

.position_information {
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
}

.position_wrapper:hover .position_information{
    color: rgb(55, 55, 55);
    background-color: rgb(155, 155, 155);
    transition: 0.3s; 
}

.table_header {
    border: 1px solid lightgray;
    font-weight: bold;
}

.table_entry {
    border: 1px solid lightgray;
    font-weight: normal;
}

.positive_returns {
    color: rgb(0, 163, 0);
}

.position_wrapper:hover .positive_returns{
    color: rgb(16, 104, 4);
    transition: 0.3s; 
}

.negative_returns {
    color: rgb(255, 32, 32);
}

.position_wrapper:hover .negative_returns{
    color: rgb(168, 23, 23);
    transition: 0.3s; 
}